$color_1: #b881fc;
$color_2: #5d6475;
$color_3: #5D6469;
$color_4: #4d5567;
$color_5: #8A8F9A;
$color_6: #21759b;
$color_7: #adb7d1;
$color_8: #fff;
$color_9: #565a5c;
$color_10: #3e4453;
$color_11: inherit;
$color_12: #FFFFFF;
$color_13: #3C90BE;
$color_14: #ffffff;
$color_15: #CBCDD0;
$color_16: #dde2ec;
$color_17: #252b33;
$color_18: #9DA5B9;
$color_19: #99a3b1;
$color_20: #a1a7b4;
$color_21: #D3D4D6;
$color_22: #fefefe;
$color_23: #f7f5f2;
$color_24: transparent;
$color_25: #747c83;
$color_26: #f1f3f7;
$color_27: #1a171b;
$color_28: #a871ec;
$color_29: #fdfdfd;
$color_30: #8a959e;
$color_31: #8A959E;
$color_32: #e3cdfd;
$color_33: #d3d7df;
$color_34: #FFF;
$color_35: #dfc6ff;
$color_36: #9096a3;
$color_37: #4D5567;
$color_38: #81848B;
$color_39: #D7D8DD;
$color_40: #e7e9ee;
$color_41: #f0f0f0;
$color_42: #a6b3bb;
$color_43: #555;
$color_44: #333;
$color_45: #434953;
$color_46: yellowgreen;
$color_47: #000;
$color_48: #1ABC9C;
$color_49: #ED5565;
$color_50: #717374;
$color_51: #8f9eb6;
$color_52: #8593a9;
$color_53: red;
$color_54: #d5dbea;
$color_55: #949db4;
$color_56: #bdc4d2;
$color_57: white;
$color_58: #8a8f9a;
$color_59: #959DA2;
$color_60: #666;
$color_61: #d0d5de;
$color_62: #888C8E;
$color_63: #fd2d4f;
$color_64: #e9f0f4;
$color_65: #F8F8F8;
$color_66: #99a2ae;
$color_67: #7f8696;
$font-family_1: 'Raleway', sans-serif;
$font-family_2: 'Open Sans', sans-serif;
$font-family_3: FontAwesome;
$font-family_4: "open-sans";
$font-family_5: "FontAwesome";
$font-family_6: "Font Awesome 5 Brands";
$font-family_7: fontawesome;
$font-family_8: inherit;
$font-family_9: 'Arial';
$font-family_10: Fontawesome;
$background-color_1: #ffffff;
$background-color_2: #fff;
$background-color_3: #f4f6f9;
$background-color_4: #f1f1f1;
$background-color_5: #b881fc;
$background-color_6: #f1f3f7;
$background-color_7: #fdfdfd;
$background-color_8: #fd2d4f;
$background-color_9: #7648AF;
$background-color_10: #5d6475;
$background-color_11: transparent;
$background-color_12: #282D33;
$background-color_13: #26292b;
$background-color_14: #282d33;
$background-color_15: #3e4453;
$background-color_16: #444;
$background-color_17: #f8f8f8;
$background-color_18: #a4adc1;
$background-color_19: #303030;
$background-color_20: #c18eff;
$background-color_21: #70657C;
$background-color_22: #c8ceda;
$background-color_23: #e3e7ef;
$background-color_24: #da4453;
$background-color_25: #45a6cc;
$background-color_26: #d2d9e2;
$background-color_27: #393f48;
$background-color_28: #f0f0f0;
$background-color_29: #b9bfcb;
$background-color_30: #fcfcfc;
$background-color_31: #000;
$background-color_32: #838895;
$background-color_33: #4d5567;
$background-color_34: #323a45;
$background-color_35: #bbc0cb;
$background-color_36: #a9afbb;
$background-color_37: #caced8;
$background-color_38: #425398;
$background-color_39: #00aced;
$background-color_40: #DA4453;
$background-color_41: #cb2027;
$background-color_42: #007bb6;
$background-color_43: #e7eaf0;
$background-color_44: #d0d5de;
$background-color_45: #F1F3F7;
$background-color_46: #9DA5B9;
$background-color_47: #323840;
$background-color_48: #2b2937;
$background-color_49: #FFFFFF;
$background-color_50: #99a3b1;
$background-color_51: #DDC4FB;
$background-color_52: #576074;
$background-color_53: #F6F6F6;
$background-color_54: #ECEDF0;
$background-color_55: #F5F5F5;
$background-color_56: #1a1a1a;
$background-color_57: #313643;
$background-color_58: #4a66a0;
$background-color_59: #5472b0;
$background-color_60: #55acee;
$background-color_61: #62bafc;
$background-color_62: #0177b5;
$background-color_63: #0185cb;
$background-color_64: #d73d32;
$background-color_65: #ea4539;
$background-color_66: #de242b;
$background-color_67: #d0d5de;
$background-color_68: #dee2e8;
$background-color_69: #F4F6F9;
$background-color_70: #434b5c;
$background-color_71: #003087;
$background-color_72: #51AF6B;
$background-color_73: #AFAE37;
$background-color_74: aquamarine;
$background-color_75: #ED5565;
$background-color_76: #4ecb8f;
$background-color_77: #45cd72;
$background-color_78: #dddddd;
$background-color_79: #f7f7f7;
$background-color_80: #DF5468;
$background-color_81: #f4f7f9;
$background-color_82: #4B6CC9;
$background-color_83: #9C62C8;
$background-color_84: #7542A1;
$background-color_85: #1F6991;
$background-color_86: #54a9b0;
$background-color_87: #6e1448;
$background-color_88: #393F48;
$background-color_89: #16A085;
$background-color_90: #FB6A5C;
$background-color_91: #5ED47E;
$background-color_92: #FFF;
$background-color_93: #7F8C8D;
$background-color_94: #687373;
$background-color_95: #FFD59C;
$background-color_96: #C7AE7F;
$background-color_97: #FF9800;
$background-color_98: #F57C00;
$background-color_99: #1ABC9C;
$background-color_100: red;
$background-color_101: #E5645F;
$background-color_102: #e9edf3;
$background-color_103: #eceff3;
$background-color_104: #C3D0E2;
$background-color_105: #D0D5DE;
$background-color_106: #889162;
$background-color_107: #F94C68;
$background-color_108: #e8ebf0;
$background-color_109: #6AD68E;
$background-color_110: yellow;
$background-color_111: #E0E4E9;
$background-color_112: #4D5567;
$background-color_113: #D2DCED;
$background-color_114: #CD8945;
$background-color_115: #F8F8F8;
$background-color_116: #3FAF90;
$background-color_117: #EDB534;
$background-color_118: #0D2C54;
$background-color_119: #FF5E5B;
$background-color_120: #3858AA;
$background-color_121: #CE447B;
$background-color_122: #2F5B48;
$background-color_123: #7C2727;
$background-color_124: #CE1C1C;
$background-color_125: #465D99;
$background-color_126: #FF934F;
$background-color_127: #774E24;
$background-color_128: #7CBF9E;
$background-color_129: #006075;
$background-color_130: #b980d0;
$background-color_131: #FFCB4E;
$background-color_132: #DD5539;
$background-color_133: #565EB7;
$background-color_134: #AD2E4C;
$background-color_135: #5691C9;
$background-color_136: #ADC13C;
$background-color_137: #20c063;
$background-color_138: #f9f9f9;
$background-color_139: #1CA8DD;
$background-color_140: #0f77ab;
$background-color_141: #b781fc;
$background-color_142: #333;
$border-color_1: #e3e7ef;
$border-color_2: #caced8;
$border-color_3: rgba(255, 255, 255, 0);
$border-color_4: rgba(240, 240, 240, 0);
$border-color_5: transparent;
$border-top-color_1: #5d6475;
$border-top-color_2: #FFFFFF;
$border-top-color_3: #f7f5f2;
$border-top-color_4: #fff;
$border-top-color_5: #fff000;
$border-top-color_6: #f1f3f7;
$border-bottom-color_1: #5d6475;
$border-bottom-color_2: #f7f5f2;
$border-bottom-color_3: #fff;
$border-left-color_1: #b881fc;
$border-left-color_2: #313643;